.debug-section-header {
  color: gray;
  font-weight: bold;
}

.thera-debug-tab td {
  font-size: 0.9em;
  line-height: 1.9em;
  color: #abb2bf;
  font-weight: lighter;
  max-width: 10em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.thera-debug-tab .scope label {
  font-size: 0.9em;
  color: #abb2bf;
}

.thera-debug-tab label.scope-label {
  color: #e06c6e;
}

i.fa.fa-arrow-down.fa-fw, i.fa.fa-arrow-right.fa-fw {
  color: #9da5b4;
}

.thera-debug-control i.fa.fa-eject {
  transform: rotate(90deg);
}

.thera-debug-control {
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#symbols-tabs-debug {
  overflow: auto;
  height: 100%;
}

.thera-debug-control .btn {
  background: inherit;
}

.thera-debug-control .btn.green {
  color: green;
}

.thera-debug-control .btn.red {
  color: red;
}

.thera-debug-tab table {
  width: 100%;
}

.thera-debug-tab tr.selected {
  background:#232933;
}

.thera-debug-tab tr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thera-debug-tab tbody, .thera-debug-tab label {
  cursor: pointer;
}

.thera-debug-tab input {
  margin: 3px 0.5em;
}

.thera-debug-tab .rc-collapse-content > .rc-collapse-content-box {
  margin-top: 8px;
  margin-bottom: 10px;
}

.thera-debug-tab td > label {
  margin: 0px;
}

.thera-debug-tab .rc-collapse-content {
  padding: 0 0.8em;
}

.thera-debug-tab .rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow {
  border-left-color: #9e9e9e;

}

.thera-debug-tab .rc-collapse > .rc-collapse-item-active > .rc-collapse-header .arrow {
  border-left-color: transparent;
  border-top-color: #9e9e9e;
}
